<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<footer>
		<input type="hidden" th:value="${#httpServletRequest.getContextPath()}" id="ctx"/>
		<script type="text/javascript" th:src="@{/jquery/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/jquery/jquery.dataTables.min.js}"></script>
	</footer>
</body>
</html>
